<h2></h2>
<a class="personality-create">CREATE PERSONALITY</a>

<h3>Name</h3>
<input class="personality-name" />

<h3>Firstname</h3>
<input class="personality-firstname" />

<h3>Lastname</h3>
<input class="personality-lastname" />

<h3>Image Url</h3>
<ce-digital-asset-url-input class="personality-image-url"></ce-digital-asset-url-input>

<h3>Abstract</h3>
<div class="personality-abstract"></div>

<h3>Bio</h3>
<div class="personality-bio"></div>


<ce-button class="save-button">Save</ce-button>
<ce-button class="delete-button">Delete</ce-button>

